.nav {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba($clr_white, .95);
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: auto;
  align-items: center;

  @include media-md {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 0;
  }

  &__logo {
    cursor: pointer;
    width: 200px;
    height: 100%;
    opacity: 1;
    transition: opacity .25s ease-out;
    margin-bottom: 10px;

    @include media-md {
      margin-bottom: 0;
    }

    &:hover {
      @include hover-default;
    }
  }

  &__controls {
    @include flexbox;
    width: 100%;

    @include media-md {
      width: unset;
    }

    &-item:not(:last-child) {
      margin-right: 10px;
    }
  }
}