$breakpoint-3xl: 1920px;
$breakpoint-2xl: 1536px;
$breakpoint-xl: 1440px;
$breakpoint-lg: 1024px;
$breakpoint-md: 720px;
$breakpoint-sm: 640px;
$breakpoint-xs: 360px;

$mockup-width: 1920px;
$container-width: 1880px;

$offset-side: 20px;
$offset-side-lg: 20px;
$offset-side-md: 30px;
$offset-side-sm: 20px;
$offset-side-xs: 10px;