.item-controls {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  background-color: $neutral_100;
  border-radius: 3px;
  user-select: none;

  &__text {
    color: $primary-300;
  }
}